.sections {
    display: flex;
    justify-content: space-between;
}

.sidebar > h3 {
    font-weight: 400;
    font-size: 27px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEE2E7;
    margin-bottom: 20px;
}

.sideBarItem {
    width: 200px;
    font-size: 17px;
    margin-bottom: 10px;
}

.notActiveLink {
    color: #606060;
    font-weight: 400;
}

.activeLink {
    color: #1C1C1C;
    font-weight: 500;
}