.footerWrapper {
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.footerNav {
    max-width: 276px;
}

.image {
    margin-bottom: 15px;
}

.text {
    font-size: 16px;
    color: #606060;
    margin-bottom: 16px;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.footerItem {
    font-size: 16px;
    color: #606060;
    margin-bottom: 3px;
}