.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.userItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 228px;
    height: 41px;
}

.search {
    display: flex;
    align-items: center;
}

.search > input  {
    width: 565px;
    max-width: 100%;
    height: 40px;
    border: 2px #0D6EFD solid;
    border-right: none;
    outline: none;
    border-radius: 6px 0 0 6px;
    background-color: #fff;
    padding-left: 10px;
}

.search > button {
    height: 40px;
    width: 100px;
    border-radius: 0 6px 6px 0;
    border: 2px #0D6EFD solid;
    border-left: none;
    background-color: #0D6EFD;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
}

.search > input::-webkit-input-placeholder {
    font-family: 'Inter', sans-serif;
}
