.wrapper {
    display: flex;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-bottom: 43px;
}

.sidebar {
    overflow: hidden;
}

.products {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 1000px;
    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.products::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}